.banner {
  position: absolute;
  background-color: #005AC5;
  height: 146px;
  width: 1440px;
  top: 0;
  left: 0;
}

.banner .nav {
  @apply list-none p-0 flex flex-wrap;
  position: absolute;
  width: 419px;
  height: 39px;
  left: 891px;
  top:48px;
}

.banner .nav a {
  @apply inline-block px-4 py-2 border-none;
  position: absolute;
  height: 29px;
  top: 59px;
  font-size: 24px;

  &:hover {
    color: darken(#525ddc, 30%);
  }
}
