body {
  background: #006BEA;

  margin: 0 auto;
}

.start {
  position: absolute;
  width: 1446px;
  height: 889px;
  top: 46px;
  left: 0px;
}

.backG {
  position: absolute;
  width: 1446px;
  height: 889px;
  top: 46px;
  left: 0px;
}
